In [14]:
## monday  PYTHON NEW TOPIC PANDAS LB DATE 20\10\25
# GEXTON CENTER WORK #

In [18]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
 pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install modules

Requirement already satisfied: modules in c:\users\lenovo\.conda\envs\testenv\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

# --- sample data creation (agar tumhare paas sales.csv nahi hai, yeh bana kar test kar lo) ---
data = [
    [1, '2024-07-01', 'Punjab', 'Widget', 10, 120.0, 'Ali'],
    [2, '2024-07-05', 'Sindh',  'Gadget', 5,  300.0, 'Sara'],
    [3, '2024-07-08', 'Punjab', 'Widget', 3,  np.nan,  'Ali'],    # missing price
    [4, '2024-08-02', 'KPK',    'Gizmo',  7,  450.0, 'Rehan'],
    [5, '2024-08-15', 'Punjab', 'Gadget', 2,  300.0, 'Sara'],
    [6, '2024-09-01', 'Sindh',  'Widget', 20, 110.0, 'Zara'],
    [7, '2024-09-11', 'Punjab', 'Gizmo',  4,  500.0, 'Ali'],
    [8, '2024-09-20', 'KPK',    'Widget', 1,  115.0, 'Rehan'],
    [9, '2024-10-02', 'Sindh',  'Gizmo',  10, 480.0, 'Sara'],
    [10,'2024-10-05', 'Punjab', 'Gadget', 30, 290.0, 'Zara'],
]
df = pd.DataFrame(data, columns=['OrderID','Date','Region','Product','Units','UnitPrice','SalesRep'])

# agar real file hai to use karo:
# df = pd.read_csv('sales.csv', parse_dates=['Date'])

# 1) Date ko datetime
df['Date'] = pd.to_datetime(df['Date'])

# 2) Fill missing UnitPrice by median price per Product (task 7 before revenue calc)
df['UnitPrice'] = df.groupby('Product')['UnitPrice'].transform(
    lambda x: x.fillna(x.median())
)

# 3) Revenue column
df['Revenue'] = df['Units'] * df['UnitPrice']

# 4) Total revenue per Product (descending)
product_revenue = df.groupby('Product', as_index=False)['Revenue'].sum().sort_values('Revenue', ascending=False)
print("Total revenue per Product:\n", product_revenue, "\n")

# 5) Top 3 SalesRep by revenue
salesrep_top3 = df.groupby('SalesRep', as_index=False)['Revenue'].sum().sort_values('Revenue', ascending=False).head(3)
print("Top 3 SalesReps by revenue:\n", salesrep_top3, "\n")

# 6) Punjab monthly revenue trend
punjab = df[df['Region']=='Punjab'].copy()
punjab_monthly = (punjab.set_index('Date')
                         .resample('M')['Revenue']
                         .sum()
                         .reset_index()
                         .assign(Month=lambda x: x['Date'].dt.to_period('M').astype(str))
                         .loc[:, ['Month','Revenue']])
print("Punjab monthly revenue:\n", punjab_monthly, "\n")

# 7) Pivot table Units sold by Region x Product
pivot_units = df.pivot_table(index='Region', columns='Product', values='Units', aggfunc='sum', fill_value=0)
print("Pivot (Units by Region x Product):\n", pivot_units, "\n")

# 8) HighValueOrder flag (>5000)
df['HighValueOrder'] = df['Revenue'] > 5000
print("Data with HighValueOrder column:\n", df[['OrderID','Region','Product','Units','UnitPrice','Revenue','HighValueOrder']], "\n")

# 9) Export cleaned file
df.to_csv('sales_cleaned.csv', index=False)
print("Cleaned file exported as sales_cleaned.csv")

Total revenue per Product:
   Product  Revenue
0  Gadget  10800.0
1   Gizmo   9950.0
2  Widget   3860.0

Top 3 SalesReps by revenue:
   SalesRep  Revenue
3     Zara  10900.0
2     Sara   6900.0
0      Ali   3545.0

Punjab monthly revenue:
      Month  Revenue
0  2024-07   1545.0
1  2024-08    600.0
2  2024-09   2000.0
3  2024-10   8700.0

Pivot (Units by Region x Product):
 Product  Gadget  Gizmo  Widget
Region
KPK           0      7       1
Punjab       32      4      13
Sindh         5     10      20

Data with HighValueOrder column:
    OrderID  Region Product  Units  UnitPrice  Revenue  HighValueOrder
0        1  Punjab  Widget     10      120.0   1200.0           False
1        2   Sindh  Gadget      5      300.0   1500.0           False
2        3  Punjab  Widget      3      115.0    345.0           False
3        4     KPK   Gizmo      7      450.0   3150.0           False
4        5  Punjab  Gadget      2      300.0    600.0           False
5        6   Sindh  Widget     20      110.0   2200.0           False
6        7  Punjab   Gizmo      4      500.0   2000.0           False
7        8     KPK  Widget      1      115.0    115.0           False
8        9   Sindh   Gizmo     10      480.0   4800.0           False
9       10  Punjab  Gadget     30      290.0   8700.0            True

Cleaned file exported as sales_cleaned.csv

C:\Users\LenoVo\AppData\Local\Temp\ipykernel_9420\1561387730.py:44: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample('M')['Revenue']

In [6]:
# Step 1: Import pandas
import pandas as pd

# Step 2: Simple data create karo (file banane ki zarurat nahi)
data = {
    "ID": [1, 2, 3, 4, 5, 6, 7],
    "Name": ["Ali", "Sara", "Rehan", "Zainab", "Ahmed", "Hira", "Bilal"],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "Sales", "IT"],
    "Salary": [55000, 80000, 60000, 90000, 50000, 65000, 72000],
    "City": ["Lahore", "Karachi", "Islamabad", "Lahore", "Karachi", "Islamabad", "Lahore"]
}

# Step 3: DataFrame banao
df = pd.DataFrame(data)

# Step 4: Data show karo
print("---- Full Data ----")
print(df)

# Step 5: Rows aur Columns count
print("\nTotal Rows aur Columns:", df.shape)

# Step 6: Sirf Name aur Salary columns
print("\nName aur Salary Columns:")
print(df[["Name", "Salary"]])

# Step 7: Lahore wale employees
print("\nLahore wale employees:")
print(df[df["City"] == "Lahore"])

# Step 8: IT Department wale employees
print("\nIT Department employees:")
print(df[df["Department"] == "IT"])

# Step 9: Highest Salary employee
print("\nHighest Salary employee:")
print(df[df["Salary"] == df["Salary"].max()])

# Step 10: Average Salary
print("\nAverage Salary:", df["Salary"].mean())

# Step 11: Department wise average salary
print("\nDepartment wise Average Salary:")
print(df.groupby("Department")["Salary"].mean())

# Step 12: Salary descending order mein sort karo
print("\nSalary Descending Order:")
print(df.sort_values("Salary", ascending=False))

# Step 13: Bonus column (10% of Salary)
df["Bonus"] = df["Salary"] * 0.10
print("\nData with Bonus column:")
print(df)

# Step 14: TotalIncome column (Salary + Bonus)
df["TotalIncome"] = df["Salary"] + df["Bonus"]
print("\nData with TotalIncome:")
print(df)

# Step 15: Top 3 salary wale employees
print("\nTop 3 Salary Employees:")
print(df.sort_values("Salary", ascending=False).head(3))

---- Full Data ----
   ID    Name Department  Salary       City
0   1     Ali         HR   55000     Lahore
1   2    Sara         IT   80000    Karachi
2   3   Rehan    Finance   60000  Islamabad
3   4  Zainab         IT   90000     Lahore
4   5   Ahmed         HR   50000    Karachi
5   6    Hira      Sales   65000  Islamabad
6   7   Bilal         IT   72000     Lahore

Total Rows aur Columns: (7, 5)

Name aur Salary Columns:
     Name  Salary
0     Ali   55000
1    Sara   80000
2   Rehan   60000
3  Zainab   90000
4   Ahmed   50000
5    Hira   65000
6   Bilal   72000

Lahore wale employees:
   ID    Name Department  Salary    City
0   1     Ali         HR   55000  Lahore
3   4  Zainab         IT   90000  Lahore
6   7   Bilal         IT   72000  Lahore

IT Department employees:
   ID    Name Department  Salary     City
1   2    Sara         IT   80000  Karachi
3   4  Zainab         IT   90000   Lahore
6   7   Bilal         IT   72000   Lahore

Highest Salary employee:
   ID    Name Department  Salary    City
3   4  Zainab         IT   90000  Lahore

Average Salary: 67428.57142857143

Department wise Average Salary:
Department
Finance    60000.000000
HR         52500.000000
IT         80666.666667
Sales      65000.000000
Name: Salary, dtype: float64

Salary Descending Order:
   ID    Name Department  Salary       City
3   4  Zainab         IT   90000     Lahore
1   2    Sara         IT   80000    Karachi
6   7   Bilal         IT   72000     Lahore
5   6    Hira      Sales   65000  Islamabad
2   3   Rehan    Finance   60000  Islamabad
0   1     Ali         HR   55000     Lahore
4   5   Ahmed         HR   50000    Karachi

Data with Bonus column:
   ID    Name Department  Salary       City   Bonus
0   1     Ali         HR   55000     Lahore  5500.0
1   2    Sara         IT   80000    Karachi  8000.0
2   3   Rehan    Finance   60000  Islamabad  6000.0
3   4  Zainab         IT   90000     Lahore  9000.0
4   5   Ahmed         HR   50000    Karachi  5000.0
5   6    Hira      Sales   65000  Islamabad  6500.0
6   7   Bilal         IT   72000     Lahore  7200.0

Data with TotalIncome:
   ID    Name Department  Salary       City   Bonus  TotalIncome
0   1     Ali         HR   55000     Lahore  5500.0      60500.0
1   2    Sara         IT   80000    Karachi  8000.0      88000.0
2   3   Rehan    Finance   60000  Islamabad  6000.0      66000.0
3   4  Zainab         IT   90000     Lahore  9000.0      99000.0
4   5   Ahmed         HR   50000    Karachi  5000.0      55000.0
5   6    Hira      Sales   65000  Islamabad  6500.0      71500.0
6   7   Bilal         IT   72000     Lahore  7200.0      79200.0

Top 3 Salary Employees:
   ID    Name Department  Salary     City   Bonus  TotalIncome
3   4  Zainab         IT   90000   Lahore  9000.0      99000.0
1   2    Sara         IT   80000  Karachi  8000.0      88000.0
6   7   Bilal         IT   72000   Lahore  7200.0      79200.0

In [3]:
import pandas as pd

data = {
    "Name": ["Ali", "Sara", "Rehan"],
    "Marks": [85, 90, 75]
}

df = pd.DataFrame(data)
print(df)

    Name  Marks
0    Ali     85
1   Sara     90
2  Rehan     75

In [4]:
import pandas as pd

date = {
    "Name": ["Usama", "asif", "waseem"],
    "Marks": [30, 40 , 60]
}

df = pd.DataFrame(data)
print(df)

    Name  Marks
0    Ali     85
1   Sara     90
2  Rehan     75

import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)
print(myvar)

In [5]:
import pandas as pd

print(pd.__version__)

2.3.3

In [6]:
print("hellow world")

hellow world

In [7]:

print("apna collage")

apna collage

In [8]:
### python define for pandas### \ date 23\10\25

In [7]:
import modules

import pandas

mydata = pandas.read_excel(r'C:\Users\LenoVo\Desktop\data\July 2024.xlsx')
mydata.head()

C:\Users\LenoVo\.conda\envs\testenv\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Plant Name,Updated Time,Time Zone,Production Power(W),Consumption Power(W),Grid Power(W),Purchasing Power(W),Feed-in Power(W),Battery Power(W),Charging Power(W),Discharging Power(W),SoC(%)
0,Inverex Smart Load,2024/07/22 21:50,UTC+05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Inverex Smart Load,2024/07/22 21:55,UTC+05:00,0.0,0.0,0.0,NaN,NaN,12.0,NaN,NaN,100.0
2,Inverex Smart Load,2024/07/22 22:00,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,NaN,NaN,100.0
3,Inverex Smart Load,2024/07/22 22:10,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,NaN,NaN,100.0
4,Inverex Smart Load,2024/07/22 22:15,UTC+05:00,0.0,0.0,0.0,NaN,NaN,11.0,NaN,NaN,100.0

In [10]:
mydata.shape

(2293, 12)

In [11]:
mydata['Battery Power(W)']

0        NaN
1       12.0
2       10.0
3       10.0
4       11.0
        ...
2288    15.0
2289    11.0
2290    10.0
2291    11.0
2292     9.0
Name: Battery Power(W), Length: 2293, dtype: float64

In [12]:
mydata.columns

Index(['Plant Name', 'Updated Time', 'Time Zone', 'Production Power(W)',
       'Consumption Power(W)', 'Grid Power(W)', 'Purchasing Power(W)',
       'Feed-in Power(W)', 'Battery Power(W)', 'Charging Power(W)',
       'Discharging Power(W)', 'SoC(%)'],
      dtype='object')

In [13]:
mydata[['Battery Power(W)','Updated Time']]

      Battery Power(W)      Updated Time
0                  NaN  2024/07/22 21:50
1                 12.0  2024/07/22 21:55
2                 10.0  2024/07/22 22:00
3                 10.0  2024/07/22 22:10
4                 11.0  2024/07/22 22:15
...                ...               ...
2288              15.0  2024/07/31 23:35
2289              11.0  2024/07/31 23:40
2290              10.0  2024/07/31 23:45
2291              11.0  2024/07/31 23:50
2292               9.0  2024/07/31 23:55

[2293 rows x 2 columns]

In [14]:
import modules

import pandas
mydata = pandas.read_excel(r'C:\Users\LenoVo\Desktop\data\July 2024.xlsx')

C:\Users\LenoVo\.conda\envs\testenv\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [15]:
mydata.head()

,Plant Name,Updated Time,Time Zone,Production Power(W),Consumption Power(W),Grid Power(W),Purchasing Power(W),Feed-in Power(W),Battery Power(W),Charging Power(W),Discharging Power(W),SoC(%)
0,Inverex Smart Load,2024/07/22 21:50,UTC+05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Inverex Smart Load,2024/07/22 21:55,UTC+05:00,0.0,0.0,0.0,NaN,NaN,12.0,NaN,NaN,100.0
2,Inverex Smart Load,2024/07/22 22:00,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,NaN,NaN,100.0
3,Inverex Smart Load,2024/07/22 22:10,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,NaN,NaN,100.0
4,Inverex Smart Load,2024/07/22 22:15,UTC+05:00,0.0,0.0,0.0,NaN,NaN,11.0,NaN,NaN,100.0

In [16]:
mydata.tail()

,Plant Name,Updated Time,Time Zone,Production Power(W),Consumption Power(W),Grid Power(W),Purchasing Power(W),Feed-in Power(W),Battery Power(W),Charging Power(W),Discharging Power(W),SoC(%)
2288,Inverex Smart Load,2024/07/31 23:35,UTC+05:00,0.0,11.0,0.0,NaN,NaN,15.0,NaN,NaN,100.0
2289,Inverex Smart Load,2024/07/31 23:40,UTC+05:00,0.0,11.0,0.0,NaN,NaN,11.0,NaN,NaN,100.0
2290,Inverex Smart Load,2024/07/31 23:45,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,NaN,NaN,100.0
2291,Inverex Smart Load,2024/07/31 23:50,UTC+05:00,0.0,11.0,0.0,NaN,NaN,11.0,NaN,NaN,100.0
2292,Inverex Smart Load,2024/07/31 23:55,UTC+05:00,0.0,0.0,0.0,NaN,NaN,9.0,NaN,NaN,100.0

In [28]:
mydata.shape

(2293, 12)

In [29]:
mydata['Battery Power(W)']

0        NaN
1       12.0
2       10.0
3       10.0
4       11.0
        ...
2288    15.0
2289    11.0
2290    10.0
2291    11.0
2292     9.0
Name: Battery Power(W), Length: 2293, dtype: float64

In [31]:
mydata.columns

Index(['Plant Name', 'Updated Time', 'Time Zone', 'Production Power(W)',
       'Consumption Power(W)', 'Grid Power(W)', 'Purchasing Power(W)',
       'Feed-in Power(W)', 'Battery Power(W)', 'Charging Power(W)',
       'Discharging Power(W)', 'SoC(%)'],
      dtype='object')

In [24]:
mydata[['Battery Power(W)','Updated Time']]

      Battery Power(W)      Updated Time
0                  NaN  2024/07/22 21:50
1                 12.0  2024/07/22 21:55
2                 10.0  2024/07/22 22:00
3                 10.0  2024/07/22 22:10
4                 11.0  2024/07/22 22:15
...                ...               ...
2288              15.0  2024/07/31 23:35
2289              11.0  2024/07/31 23:40
2290              10.0  2024/07/31 23:45
2291              11.0  2024/07/31 23:50
2292               9.0  2024/07/31 23:55

[2293 rows x 2 columns]

In [25]:
mydata.loc[0:2]

,Plant Name,Updated Time,Time Zone,Production Power(W),Consumption Power(W),Grid Power(W),Purchasing Power(W),Feed-in Power(W),Battery Power(W),Charging Power(W),Discharging Power(W),SoC(%)
0,Inverex Smart Load,2024/07/22 21:50,UTC+05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Inverex Smart Load,2024/07/22 21:55,UTC+05:00,0.0,0.0,0.0,NaN,NaN,12.0,NaN,NaN,100.0
2,Inverex Smart Load,2024/07/22 22:00,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,NaN,NaN,100.0

In [26]:
mydata.iloc[:,1:2]

          Updated Time
0     2024/07/22 21:50
1     2024/07/22 21:55
2     2024/07/22 22:00
3     2024/07/22 22:10
4     2024/07/22 22:15
...                ...
2288  2024/07/31 23:35
2289  2024/07/31 23:40
2290  2024/07/31 23:45
2291  2024/07/31 23:50
2292  2024/07/31 23:55

[2293 rows x 1 columns]

In [22]:
mydata.describe()

,Production Power(W),Consumption Power(W),Grid Power(W),Purchasing Power(W),Feed-in Power(W),Battery Power(W),Charging Power(W),Discharging Power(W),SoC(%)
count,2292.000000,2292.000000,2292.000000,562.000000,391.000000,2292.000000,177.000000,906.000000,2292.000000
mean,212.113002,548.565445,266.664485,1193.279359,-144.647059,58.082461,-462.062147,238.902870,99.034031
std,603.219064,945.440841,646.632105,750.124645,50.272113,302.838440,382.250842,336.312377,8.629261
min,0.000000,0.000000,-197.000000,10.000000,-197.000000,-1146.000000,-1146.000000,50.000000,0.000000
25%,0.000000,0.000000,0.000000,712.750000,-166.000000,-6.000000,-879.000000,171.000000,100.000000
50%,0.000000,12.000000,0.000000,1275.000000,-158.000000,11.000000,-340.000000,175.000000,100.000000
75%,0.000000,1324.250000,0.000000,1569.750000,-152.000000,174.000000,-114.000000,176.000000,100.000000
max,3449.000000,3575.000000,3293.000000,3293.000000,-10.000000,3239.000000,-51.000000,3239.000000,100.000000

In [23]:
mydata.isna().sum()

Plant Name                 0
Updated Time               0
Time Zone                  0
Production Power(W)        1
Consumption Power(W)       1
Grid Power(W)              1
Purchasing Power(W)     1731
Feed-in Power(W)        1902
Battery Power(W)           1
Charging Power(W)       2116
Discharging Power(W)    1387
SoC(%)                     1
dtype: int64

In [4]:
'Plant Name', 'Updated Time', 'Time Zone', 'Production Power(W)',
'Consumption Power(W)', 'Grid Power(W)', 'Battery Power(W)',
'Charging Power(W)', 'Discharging Power(W)', 'SoC(%)'

('Charging Power(W)', 'Discharging Power(W)', 'SoC(%)')

In [12]:
mydata = mydata.drop(columns = ['Charging Power(W)', 'Discharging Power(W)'])
mydata

,Plant Name,Updated Time,Time Zone,Production Power(W),Consumption Power(W),Grid Power(W),Purchasing Power(W),Feed-in Power(W),Battery Power(W),SoC(%)
0,Inverex Smart Load,2024/07/22 21:50,UTC+05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Inverex Smart Load,2024/07/22 21:55,UTC+05:00,0.0,0.0,0.0,NaN,NaN,12.0,100.0
2,Inverex Smart Load,2024/07/22 22:00,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,100.0
3,Inverex Smart Load,2024/07/22 22:10,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,100.0
4,Inverex Smart Load,2024/07/22 22:15,UTC+05:00,0.0,0.0,0.0,NaN,NaN,11.0,100.0
...,...,...,...,...,...,...,...,...,...,...
2288,Inverex Smart Load,2024/07/31 23:35,UTC+05:00,0.0,11.0,0.0,NaN,NaN,15.0,100.0
2289,Inverex Smart Load,2024/07/31 23:40,UTC+05:00,0.0,11.0,0.0,NaN,NaN,11.0,100.0
2290,Inverex Smart Load,2024/07/31 23:45,UTC+05:00,0.0,0.0,0.0,NaN,NaN,10.0,100.0
2291,Inverex Smart Load,2024/07/31 23:50,UTC+05:00,0.0,11.0,0.0,NaN,NaN,11.0,100.0
2292,Inverex Smart Load,2024/07/31 23:55,UTC+05:00,0.0,0.0,0.0,NaN,NaN,9.0,100.0

In [1]:
mydata = mydata.rename(columns={'Updated Time': 'Time'})
display(mydata.head())

NameError: name 'mydata' is not defined